* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

@font-face {
    font-family: "OpenSans-Regular";
    src:url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src:url(../fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: "OpenSans-Regular";
    src:url(../fonts/OpenSans-Regular.woff2);
}       

@font-face {
    font-family: "OpenSans-Bold";
    src:url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSans-Bold";
    src:url(../fonts/OpenSans-Bold.woff);
}

@font-face {
    font-family: "OpenSans-Bold";
    src:url(../fonts/OpenSans-Bold.woff2);
}

body {
    z-index: 0;
}




/*popup*/

/* //попап сделан, просто отключена видимость в .popup-wrapper.
А почему z-index не работает? popup не остается поверх страницы при прокрутке
Как вообще лучще реализовать всплывающее окно с фоном - 
через дополнителньй контейнер wrapper или через псевдоэлемент? */


.popup-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 0;
    visibility: hidden;
}

/*
.popup::before {
    content: "";
    background-color: #000000;
    opacity: 0.85;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}*/

.popup {
    width: 390px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  
    margin:auto;
    
    position: relative;
    z-index: 9999;
    background-color: #ffffff;
     
}

.popup-close {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -2em;
    right: 0em; 

    background-image: url(../svg/form-x.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
  
}

.popup-close-text {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
} 

.form {
    width: 330px;
} 

.popup-title {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
   
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;  
    opacity: 0.4;
    margin-top: 15px;

    position: relative;
}

.form-group {
    width: 100%;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    margin-top: 25px;
}

.question {
    display: block;
    flex-direction: column;
    margin-bottom: 15px;
}

.select {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    opacity: 0.54;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    padding-left: 15px;
    margin-top: 10px;

    -webkit-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/*можно у опций в выпадающем меню сделать такой же формат/шрифт? 
через доп класс и inherit не получилось */

.radio-group:nth-of-type(n+2) {
    margin-left: 15px;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;

    width: 20px;
    height: 20px;

    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
}

.radio-group {
    position: relative;
}

.radio {
    position: absolute;
    clip:rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px; 
}

.field {
    width: 100%;
    max-width: 330px;
    min-height: 125px;
    background-color: #f4f7f6;
    border: none;
    opacity: 0.54;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-top: 10px;
}

.feedback-button {
    width: 100%;
    height: 48px;
    border: none;
    margin-top: 15px;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 40px;
    background-color: #b59f5b;
    text-transform: uppercase;
    color: #ffffff;
}


/*HEADER*/

.header {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    min-height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    z-index: 0; 
}


.header:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  
    position: absolute;
    z-index: -1;
}

.upper-header {     
    width: 100%;         
    max-width: 1200px; 
    display: flex;
    justify-content: space-around; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px auto;
}

.logo {
    width: 179px;
    align-self: center;
    padding-right: 20px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    /*text-align: right;*/
    align-items: center;
}

.menu-list {
    display: flex;
    align-self: center;
    list-style-type: none;
}

.menu-item:nth-child(n+2) {
    margin-left: 30px;
}

.menu-link {
    font-family: "OpenSans-Regular";
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: auto;
}

.menu-link:hover {
    text-decoration: underline;  
}

.menu-button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  visibility: hidden;
}

.menu-button:before, .menu-button:after {
  content:"";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}

.header-title {
    width: 100%;
    max-width: 700px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
    padding-top: 194px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 145px;
}


@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    .upper-header {
        width: 700px;
    }

    .logo {
        width: 158px;
        height: 35px;
    }

    .menu-list {
        visibility: hidden;   
    }

    .menu-button {
        visibility: visible;
    }

     .header-title {
        font-size: 40px;
        line-height: 1.375;
    }
}


@media (max-width: 640px) {
    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .upper-header {
        display: flex;
        flex-direction: column-reverse;
    }

     .logo {
        width: 269px;
        height: 45px;
        padding-top: 150px;
        padding-bottom: 10px;
    }

     .menu-list {
        display: none;   
    }

    .menu-button {
        visibility: visible; 
    }

    .header-title {
        font-size: 26px;
        line-height: 1.38;
        max-width: 330px;
        padding-top: 40px;
    }
}


/*TRENDS*/

.trends-title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
   
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.trends-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;  
    opacity: 0.4;
    margin-top: 15px;

    position: relative;
}

.trends-bar {
    width: 100%;
    display: flex;
}

.trend {
    width: 25%;
    min-height: 320px;
   
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-color: #eff6f1;

    position: relative;
    z-index: 0;

    display: flex;
}



.trend1 {
     background-image: url(../images/trend1.jpg);
}

.trend2 {
    background-image: url(../images/trend2.jpg);
}

.trend3 {
    background-image: url(../images/trend3.jpg);
}

.trend4 {
    background-image: url(../images/trend4.jpg);
}

.trend:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  
    position: absolute;
    z-index: -1;
}

.trend-content {
    width: 100%;
    height: 50%;
    border: 3px solid #b59f5b;
    padding: 0.75em;
    align-self: flex-end;
    margin: 20px;
}

.trend-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}


@media (min-width: 1200px) {  
    .trend:nth-child(n+2) {
    margin-left: 5px;   
    } 
}


@media (min-width: 641px) and (max-width: 1199px) {
    .trends-bar {
        display: flex;
        flex-wrap: wrap;
    }

    .trend {
        width: calc(50% - 5px); 
    }

    .trend:nth-child(even) {
        margin-left: 5px;
    }

    .trend:nth-child(n+3) {
        margin-top: 5px;
    }

    .trend-title {
        font-size: 17px;
    }

    .category-item {
        font-size: 14px;
    }
}


@media (max-width: 640px) {
    .trends-bar {
        display: flex;
        flex-direction: column;
    }

    .trend {
        width: 100%;
    }

    .trend:nth-child(n+2) {
        margin-top: 5px;
    }
}

/*
@media (max-width: 640px) and (orientation: landscape) {
    .trends-bar {
        display: flex;
        flex-wrap: wrap;
    }
}*/

/*MAIN*/

.page {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 795px;
    padding-left: 15px;
}

.posts {
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
}

.article:nth-child(n+2) {
    margin-top: 60px;
}

.picture {
    height: 294px;
    width: 380px;
    margin-right: 15px;
    background-color :#eff6f1; 
} 

.article-content {
    width: 368px;
    margin-left: 15px;
}

.category {
    display: flex;
    list-style-type: none;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
}

.category-item {
    color: #b59f5b;
    text-decoration: none;
    margin-right: 15px;
}

.category-item:hover {
    text-decoration: underline;
}

.article-title {
    font-family: "OpenSans-Bold"; 
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left; 
}

.article-link {
    text-decoration: none;
    color: #000000;
}

.date-author {  
    margin-top: 10px;
}

.date {
    font-size: 12px;
    line-height: 40px;
    font-family: "OpenSans-Regular";
    color: #888888;
}
.author {
    font-size: 12px;
    line-height: 40px;
    font-family: OpenSans-Bold;
    margin-left: 15px;
}

.article-preview {
    font-family: "OpenSans-Regular";
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    margin-top: 30px;
}


@media (min-width: 641px) and (max-width: 1199px) {
    .page {
        display: flex;
        justify-content: space-around;
    }

    .main {
        width: 390px;
    }

    .article {
    display: flex;
    flex-direction: column; 
    }
}

.aside {
    width: 287px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.aside-title {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    color: #0f0d0e;
    line-height: 29px;
    text-transform: uppercase;    
    position: relative; 
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;  
    opacity: 0.4;
    margin-top: 40px;
    position: absolute;    
}

.latest-post-article {
    display: flex;
    align-items: flex-start;
}

.latest-post-article:nth-child(n+2) {
    margin-top: 20px;
}

.latest-post-picture {
    width: 70px;
    margin-right: 5px;
}

.latest-post-content {
    margin-left: 5px;
}

.latest-post-date {
    font-size: 12px;
    font-family: "OpenSans-Regular";
    color: #000000;
    opacity: 0.54;
}

.latest-post-title-link {
font-family: "OpenSans-Bold";
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}

.search {
    margin-top: 60px;
    display: flex;
}

.search-group {
    display: flex;
    margin-bottom: 30px;
}

.search-field {
    min-width: 223px;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    opacity: 0.54;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.search-field:focus {
    border: 1px solid #b59f5b;
}

.search-button {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
}

.button:hover {
    cursor: pointer;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.subscribe-group {
    display: block;
}

.subscribe-field {
    min-width: 271px;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    opacity: 0.54;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    padding-left: 15px;
    margin-top: 10px;
}

.subscribe-button {
    min-width: 271px;
    height: 48px;
    border: none;
    margin-top: 15px;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 40px;
    background-color: #b59f5b;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

.subscribe-field:focus {
    border: 1px solid #b59f5b;
}

.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;    
    justify-content: left;
    margin-bottom: 30px;
    margin-top: 10px; 
}

.tags-item {
    width: 86px;
    height: 30px;
    background-color: rgba(244,243,241,0.0);
    border: 3px solid #eeeeee;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    padding: 6px;
    margin-right: 10px;
}

.themes {
    display: inline-block;
}

.themes-item {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    text-decoration: none;
}

.themes-item:hover {
    color: #b59f5b;
}

.suptext {
    font-size: 12px;
    line-height: 37px;
    color: #b59f5b;
    vertical-align: super;
}

@media (max-width: 640px) {
    .page {
        display: block;
    }

    .article {
        display: flex;
        flex-direction: column;
}
    .aside {
        width: 100vw;
        margin-left: 15px;
        margin-right: 15px;
    }

    .search-field {
        width: calc(100% - 48px); /*формула рабочая, но ширина все равно остается 223рх, почему?*/
    }

    .subscribe-field {
        width: 100%; /*у aside заданы margin left/right, почему тут не применяется margin-right??*/
    }

    .subscribe-button {
        width: 100%;  
        }
   
}


/*SHOP*/

.shop {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.shop-title {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
   
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;  
    opacity: 0.4;
    margin-top: 15px;

    position: relative;
}

.shop-bar {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    padding: 20px; 


}

.shop-item-content {
    outline: 3px solid #b59f5b;
    outline-offset: 15px;
    width: 300px;
    margin-top: -15px;
    padding-top: 20px;
    flex-grow: 1;

}

.shop-item-title {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
}

.shop-item-description {
   font-family: "OpenSans-Regular";
   font-size: 15px;
   line-height: 22px;
   color: #0f0d0e;
   
}

.shop-item-link {
  color: #b59f5b;
  text-decoration: none;  
}


.shop-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
 
}

.shop-item-price {
    display: block;
}

.old-price {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
}

.new-price {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 24px;
}

.shop-item-button {
    width: 140px; 
    height: 48px;
    
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 40px;
    background-color: #b59f5b;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    color: #ffffff;
    border: none;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .shop-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .shop-item {
        width: 50%;
    
    }

    .shop-item:nth-child(n+3) {
        margin-top: 20px;
    }
}

@media (max-width: 640px) {
    .shop-bar {
        display: block;
        align-items: center;
    }

    .shop-item {
        width: 100%;
    }

    .shop-item:nth-child(n+2) {
        margin-top: 20px;
    }
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;    
}

.articles-socials {
    background-color: #f4f7f6;
    padding-top: 30px;
    padding-bottom: 30px;
  }

.socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

.social-link {
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    margin-right: 10px;
    margin-left: 10px;
}

.social-link-twitter {
    background-image: url(../svg/004-twitter.svg);
}

.social-link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.social-link-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.social-link-instagram {
    background-image: url(../svg/005-instagram.svg);
}

.social-link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    text-align: center;
}

.copyright-link {
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    text-decoration: none;
}


@media (min-width: 641px) and (max-width: 1199px) {
    .footer {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 640px) {
    .footer {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
}